@import 'variables'
@import 'news'


body
	margin: 0
	padding: 0
	font-family: 'Roboto', sans-serif
	a
		text-decoration: none
		color: white


header
	background: $header_color
	img
		width: 17px
		height: 27px
		padding-right: 6px
		padding-left: 6px
.header_top
	display: flex
	justify-content: space-around
	align-items: center
	height: 20px
	font-size: 14px
	padding: 1px
	a
		display: flex
		align-items: center
		padding-left: 8px
		&:hover
			color: $link_hover
.header_contacts
	display: flex
    align-items: center
    justify-content: space-around
.phone,
.email,
.language
	display: flex
	align-items: center
.language
	a
		padding: 3px
.header_bottom
	width: 100%
	background-color: white
	padding: 2px 0px
	display: flex
	justify-content: space-around
	box-shadow: 0 3px 6px #dedede
	img
		height: 44px
		padding-left: 10px
.menu_main
	list-style-type: none
	display: flex
	justify-content: space-around
	width: 100%
	padding-left: 0px
	li
		a
			color:  $header_color
			font-weight: bold
			&:hover
				color: $link_hover
.logo
	width: 300px
.menu
	width: 75%
.fixed
	position: fixed
	top: 0
	width: 100%
	z-index: 3
.margin_top
	margin-top: 55px
.section
	max-width: 100%

.main_div
	width: 100%
	height: 600px
	opacity: 0.8 
.wrapper_main_div
	background-image: url("../img/div_1.png")
	width: 100%
	height: 600px

.main_h
	z-index: 2
	text-shadow: 0 0 2em black
	background: transparent
	position: absolute
	padding: 160px
	display:flex
    flex-direction: column
    align-items: center
	h1
		color: white
		font-size: 62px
		margin: 0
	h2
		color: $grey
		margin: 0

.description_wrapper
	h1
		text-align: center
		color: $header_color
.description
	display: flex
	justify-content: space-around
	.description_img
		width: 600px
		margin-top: 100px
		height: 501px
	.description_data
		width: 650px
		h1
			color: $grey
		p
			color: $font_color
			font-size: 19px
			line-height: 42px
.sec_blue
	height: 720px
	width: 100%
	background-color: $header_color
	h1
		color: white
		text-align: center
		padding-top: 20px
	ul
		width: 952px
		margin: 0 auto
	li
		list-style: none
		padding-bottom: 10px
		color: $grey
		&:before
			content: url(../img/checked.png)
.sec_characterhistic
	margin-top: 80px
	height: 700px
.sec_about
	background-image: url("../img/div_2.png") 
	width: 100%
	height: 700px
	h1
		text-align: center
		color: white
		padding-top: 50px
		font-style: italic bold
		margin-top: 0
	p
		font-style: italic
		font-size: 20px
		color: white
.about_text
	width: 700px
	margin: 0 auto
	line-height: 56px
	s
// SCROLL TO TOP BUTTON | LEAVE IN BOTTOM OF PAGE
.up_btn
  display: none
  position: fixed
  bottom: 20px
  right: 20px
  width: 40px
  height: 40px
  z-index: 99
  border: none
  outline: none
  background: #fff url(../img/up_button.svg) center center no-repeat
  background-size: cover
  opacity: .5
  cursor: pointer
  border-radius: 50%
  transition: .3s
  &:hover
  	transform: scale(1.25)
  	opacity: 1
.btn_div
	margin-top: 60px
.btn 
	color: #000
	cursor: pointer
	display: block
	font-size: 12px
	font-weight: 600
	line-height: 45px
	margin: 0 auto 2em
	max-width: 200px
	position: relative
	text-decoration: none
	text-transform: uppercase
	vertical-align: middle
	width: 100%
	text-align: center
	margin: 0 auto


.btn-5 
  border: 0 solid
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0)
  outline: 1px solid
  outline-color: rgba(0, 0, 0, .5)
  outline-offset: 0px
  text-shadow: none
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
  &:hover 
  	border: 1px solid
  	box-shadow: inset 0 0 20px rgba(0, 0, 0, .5), 0 0 20px rgba(255, 255, 255, .2);
  	outline-color: rgba(0, 0, 0, 0)
  	outline-offset: 15px
  	text-shadow: 1px 1px 2px #427388
