@import 'variables', 'news', 'sertificate', 'footer'

body
	margin: 0
	padding: 0
	font-family: 'Roboto', sans-serif
	a
		text-decoration: none
		color: white


header
	background: $header_color
	img
		width: 17px
		height: 27px
		padding-right: 6px
		padding-left: 6px
.header_top
	display: flex
	justify-content: space-around
	align-items: center
	height: 20px
	font-size: 14px
	padding: 1px
	a
		display: flex
		align-items: center
		padding-left: 8px
		&:hover
			color: $link_hover

.header_contacts
	display: flex
    align-items: center
    justify-content: space-around
.phone,
.email,
.language
	display: flex
	align-items: center
.language
	a
		padding: 3px
.header_bottom
	position: relative
	width: 100%
	background-color: white
	padding: 2px 0px
	display: flex
	justify-content: space-around
	box-shadow: 0 3px 6px #dedede
	img
		height: 44px
		padding-left: 10px

.menu_main
	list-style-type: none
	display: flex
	justify-content: space-around
	width: 100%
	padding-left: 0px
	li
		a
			color:  $header_color
			font-weight: bold
			padding: 19px 10px
			&:hover
				color: $link_hover
.logo
	width: 300px

.hidden-menu-ticker
	display: none
	&:checked ~ .menu
		display: block
#burger
	display: none
	width: 45px
	height: 35px
	position: absolute
	right: 10px
	top: 8px
	margin: auto
	-webkit-transform: rotate(0deg)
	-moz-transform: rotate(0deg)
	-o-transform: rotate(0deg)
	transform: rotate(0deg)
	-webkit-transition: .5s ease-in-out
	-moz-transition: .5s ease-in-out
	-o-transition: .5s ease-in-out
	transition: .5s ease-in-out
	cursor: pointer
	span
	  display: block
	  position: absolute
	  height: 6px
	  width: 100%
	  background: #000
	  border-radius: 6px
	  opacity: 1
	  left: 0
	  -webkit-transform: rotate(0deg)
	  -moz-transform: rotate(0deg)
	  -o-transform: rotate(0deg)
	  transform: rotate(0deg)
	  -webkit-transition: .25s ease-in-out
	  -moz-transition: .25s ease-in-out
	  -o-transition: .25s ease-in-out
	  transition: .25s ease-in-out
	  &:nth-child(1)
  		top: 0
  	&:nth-child(2)
  		top: 14px
  	&:nth-child(3)
  		top: 28px
#burger.open span
	&:nth-child(1)
		top: 14px
		-webkit-transform: rotate(135deg)
	  -moz-transform: rotate(135deg)
	  -o-transform: rotate(135deg)
	  transform: rotate(135deg)
	&:nth-child(2)
		opacity: 0
		left: -60px
	&:nth-child(3)
		top: 14px
		-webkit-transform: rotate(-135deg)
	  -moz-transform: rotate(-135deg)
	  -o-transform: rotate(-135deg)
	  transform: rotate(-135deg)
.menu
	width: 75%
.fixed
	position: fixed
	top: 0
	width: 100%
	z-index: 3

.margin_top
	margin-top: 55px

.section
	max-width: 100%

.main_div
	width: 100%
	height: 600px
	opacity: 0.8 
.wrapper_main_div
	background-image: url("../img/div_1.png")
	width: 100%
	height: 600px

.main_h
	z-index: 2
	text-shadow: 0 0 2em black
	background: transparent
	position: absolute
	padding: 160px
	display:flex
    flex-direction: column
    align-items: center
	h1
		color: white
		font-size: 62px
		margin: 0
	h2
		color: $grey
		margin: 0

.description_wrapper
	h1
		text-align: center
		color: $header_color
.description
	display: flex
	justify-content: space-around
	.description_img
		width: 600px
		margin-top: 100px
		height: 501px
	.description_data
		width: 650px
		h1
			color: $grey
		p
			color: $font_color
			font-size: 19px
			line-height: 42px

.sec_blue
	background-color: $header_color
	height: 90vh
	padding: 30px 0
	ul
		width: 980px
		margin: 0 auto
	h1
		color: white
		text-align: center
		margin-bottom: 65px
	li
		list-style: none
		color: $grey
		position: relative
		margin-bottom: 40px
		&:before
			content: url(../img/checked-mini.png)
			position: absolute
			width: 40px
			top: -8px
			left: -40px

.sec_characterhistic
	margin-top: 80px
	height: 550px

.div_characterhistic
	width: 100%
	h1
		text-align: center
		color: $header_color
		padding-bottom: 50px
.sec_yellow
	background-color: #ffe000
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
	width: 700px
	height: 120px
	margin: 0 auto
	text-align: center
	font-size: 21px
.txt_line
	text-decoration: underline
	font-weight: bold
.ul_characterhistic
	font-size: 18px
	margin: 0 auto
	width: 700px
	margin-top: 40px 
	ul
		li
			list-style: none

			&:before
				content: url(../img/right-arrow.png)

.sec_about
	background-image: url("../img/div_2.png") 
	width: 100%
	height: 700px
	h1
		text-align: center
		color: white
		padding-top: 50px
		font-style: italic bold
		margin-top: 0
	p
		font-style: italic
		font-size: 20px
		color: white
.about_text
	width: 700px
	margin: 0 auto
	line-height: 56px

// SCROLL TO TOP BUTTON | LEAVE IN BOTTOM OF PAGE
.up_btn
  display: none
  position: fixed
  bottom: 20px
  right: 20px
  width: 40px
  height: 40px
  z-index: 99
  border: none
  outline: none
  background: #fff url(../img/up_button.svg) center center no-repeat
  background-size: cover
  opacity: .5
  cursor: pointer
  border-radius: 50%
  transition: .3s
  &:hover
  	transform: scale(1.25)
  	opacity: 1
.btn_div
	margin-top: 60px
.btn 
	color: #000
	cursor: pointer
	display: block
	font-size: 12px
	font-weight: 600
	line-height: 45px
	margin: 0 auto 2em
	max-width: 200px
	position: relative
	text-decoration: none
	text-transform: uppercase
	vertical-align: middle
	width: 100%
	text-align: center
	margin: 0 auto

.btn-5 
  border: 0 solid
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0)
  outline: 1px solid
  outline-color: rgba(0, 0, 0, .5)
  outline-offset: 0px
  text-shadow: none
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
  &:hover 
  	border: 1px solid
  	box-shadow: inset 0 0 20px rgba(0, 0, 0, .5), 0 0 20px rgba(255, 255, 255, .2);
  	outline-color: rgba(0, 0, 0, 0)
  	outline-offset: 15px
  	text-shadow: 1px 1px 2px #427388

@media all and (max-width: 1200px)
	.description
		.description_data
			p
				font-size: 15px
		.description_img
			width: 500px
			margin-top: 100px
			height: 400px
	.main_div
		height: 500px
	.wrapper_main_div
		height: 500px
	.sec_characterhistic
		height: 640px
@media all and (max-width: 1024px)
	.header_bottom
		img
			height: 41px
	.menu
		width: 106%
	.menu_main
		justify-content: space-evently
	.logo
		width: 276px
	.wrapper_main_div
		height: 388px
	.main_div
		height: 388px
	.main_h
		padding: 100px
		h1
			font-size: 51px
	.description_wrapper
		h1
			font-size: 25px
		.description
			img
				width: 460px
				margin-top: 59px
				height: 360px
			.description_data
				max-width: 465px
				p
					line-height: 20px
	.sec_blue 
		ul
			width: 785px
		h1
			font-size: 23px
	.news-section
		h1
			font-size: 32px
			padding: 0
		a
			font-size: 17px
		p
			font-size: 14px
		.description
			padding: 5px 36px
	
@media all and (max-width: 835px)
	.menu
		display: none
		width: 100%
	#burger
		display: block
			
	.menu_main
		display: block
		text-align: center
		li
			padding: 10px
	.header_bottom
		display: block
	.wrapper_main_div
		height: 348px
	.description
		display: block
		margin: 0 auto
		text-align: center
		.description_data
			margin: 0 auto
			max-width: 485px
			h1
				position: absolute
				left: 0
				width: 100%
				top: 520px
	.sec_blue
		height: 555px
		line-height: 20px
		ul
			width: 530px
			padding: 0 5px
			font-size: 15px
		li
			&:before
				content: url(../img/checked.png)
	.btn_div
		margin-top: 30px
	.news-section
		height: 107vh
		.news-top,
		.news-bottom
			height: 48vh
			.title
				margin: 17px 0px
		a
			margin: 0 20px
		.description
			padding: 5px 4px
	.about_text
		margin: 0 auto
		line-height: 42px
		width: 540px

@media all and (max-width: 715px)
	.sec_yellow
		width: 480px
		height: 131px
		font-size: 18px
		padding: 1px 0px
	.ul_characterhistic
		font-size: 15px
		width: 480px

@media all and (max-width: 600px)
	.wrapper_main_div
		height: 288px
	.main_div
		height: 288px
	.main_h
		h1
			font-size: 42px
	.description
		.description_data
			h1
				top: 420px
	.sec_blue
		ul
			width: 455px
	.news-section
		.news-top,
		.news-bottom
			.title
				margin: 10px 0px
				font-size: 17px
		a
			font-size: 15px
			margin: 0px 10px
		.description
			padding: 15px 8px
			font-size: 13px
	.about_text
		line-height: 38px
		width: 440px
@media all and (max-width: 480px)
	.email
		display: none
	.main_h
		padding: 40px
		h1
			font-size: 37px
	.main_div
		height: 200px
	.wrapper_main_div
		height: 200px
	.description_wrapper
		.description
			.description_data
				max-width: 98%
    			padding: 0 5px
				h1
					top: 340px
					font-size: 20px
			img
				width: 320px
				margin-top: 59px
				height: 250px
	.sec_blue
		height: auto
		ul
			width: 100%
	.sec_characterhistic
		height: auto
		margin-bottom: 20px
	.ul_characterhistic
		font-size: 13px
		width: 100%
	.sec_yellow
		width: 80%
		height: 109px
		font-size: 13px
		padding: 13px 0px
	.sec_about
		.about_text
			line-height: 33px
			width: 98%
			padding: 0 8px
		p
			font-size: 16px
	.up_btn
		right: 30px
@media all and (max-width: 332px)
	.sec_yellow
		font-size: 12px