.news-section
	height: 100vh
	a
		color: #002545
		padding: 0 40px
		&:hover
			color: $link_hover
	h1
		text-align: center
		height: 10vh
		padding-top: 30px
		color: #002545
		margin: 0
.news-top, .news-bottom
	margin: 0 auto
	height: 45vh
	display: flex
	justify-content: space-around


	&--wrapper
		width: 50%
		padding: 0
		&:hover
			width: 60%
		.title
			font-size: 32px
	&--title
		margin: 0 auto
	.description 
		padding: 20px 40px
		color: #1a1b1b
	.title
		text-align: center
		font-size: 28px
	.light
		background: #f2f1f0
	.dark
		background: #e6ddd8
	.dark, .light
		&:hover
			